@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('fonts.css');

body {
  font-family: 'BCharity', Helvetica, Arial, sans-serif;
  @apply bg-gray-50;
}

input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}